@model Notes.DB.Note

@{
    ViewBag.Title = "Details";
}

<h2>Просмотр заметки</h2>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id })
    @Html.ActionLink("Удалить", "Delete", new { id = Model.Id })
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @foreach (var tag in Model.Tags)
            {
                @Html.ActionLink(tag.TagName, "NotesWithTag", new { Id = tag.Id })
                <span> </span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            <textarea readonly cols="50" htmlattributes="{ class = form-control }" id="Text" name="Text" rows="10">@Model.Text</textarea>
        </dd>
    </dl>
</div>
