@{
    ViewBag.Title = "ShowNotes";
}

<h2>Опубликованные заметки</h2>

<p>
    @Html.ActionLink("Мои заметки", "ShowMyNotes")
    @Html.ActionLink("Опубликованные заметки", "ShowPublishedNotes")
    @Html.ActionLink("Создать новую заметку", "Create")
</p>


<div class="form-group">
    @Html.Label("Поиск", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.Editor("search", new { htmlAttributes = new { @id = "search" } })
        @Helpers.Button("Найти", "AsyncSearch()")
    </div>
</div>



<script>
    function AsyncSearch() {
        var getValue = $("#search");
        var model = { title: getValue.val() };
        $.ajax({
            url: '@Url.Action("Search", "Note")',
            type: 'POST',
            cache: false,
            data: model,
            success: function (result) {
                $("#result").html(result);
            }
        });
    }
</script>

<div id="result">

</div>