@model IEnumerable<Notes.DB.Note>

@{
    ViewBag.Title = "ShowNotes";
    ViewBag.notes = Model;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BinaryFile)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (item.BinaryFile != null)
                    {
                        <a href="/Note/Download/@item.Id"><img src="~/Content/img/download.png" height="17"/></a>
                    }
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Удалить", "Delete", new { Id = item.Id })
                </td>
            </tr>
        }
    }
</table>